$nav-header: 60px;
$nav-header-sm: 50px;
$main-menu-width: 240px;
$inner-header-elements-height: 44px;
$default-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$percentage-increment: 40%;

@include font-face(SanFran, /fonts/SanFran-Bold, 700, normal, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-BoldItalic, 700, italic, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-Regular, normal, normal, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-RegularItalic, normal, italic, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-Light, 300, normal, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-LightItalic, 300, italic, eot woff2 woff);
@include font-face(SanFran, /fonts/SanFran-MediumItalic, 600, italic, eot woff);
@include font-face(SanFran, /fonts/SanFran-Medium, 600, normal, eot woff);

.custom-login-modal {

	.text-secondary {
	    color: #004F7F !important;
	}

	.btn-primary {
	    color: #fff;
	    background-color: #2C2D30;
	    border-color: #2C2D30;

	    &:hover {
	    	background-color: #1a1a1c;
	    	border-color: #141415;
	    }
	}

	.card-header {
		a {
			color: #2C2D30 !important; 
		}
	}

	.border-primary {
	    border-color: #2C2D30 !important;
	}

	@include media-breakpoint-up(lg) {

		p {
			font-size: calc(1rem + #{$percentage-increment});
		}

		table td {
			font-size: 16px;
		}

		.card-header p {
			font-size: 16px;
		}

		.card-header .btn {
			font-size: 14px;
		}

		.btn, input {
			font-size: 16px;
		}

		h3 {
			font-size: calc(2.4286rem + #{$percentage-increment});
		}

		.close {
			font-size: calc(1.5rem + #{$percentage-increment});
		}
		.modal-title {
			font-size: calc(2.2857rem + #{$percentage-increment});
		}
		header {
			h2 {
				font-size: calc(3rem + #{$percentage-increment});
			}
		}
	}
}

.card-fixo {
	z-index: 98;
	top: $nav-header;

	@include media-breakpoint-down(sm) {
  		top: $nav-header-sm;
	}
}

.jurua-icon-system {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.loading-spinner {
	display: none;

	&:after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .3);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}

	.loading-message {
		font-weight: 600;
	}

	&.full {
		width: calc(100% - 240px);
		height: 100%;
		z-index: 99999;
		top: 0;
		opacity: 0;
		transition: all .4s $default-transition;
		position: fixed;

		.wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);

			.loading-message {
				border-radius: 30px;
				color: #fff;
				padding: 4px 10px;
				background-color: rgba(#000, .3);
				font-weight: 600;
				font-size: 10px;
				position: absolute;
				left: 50%;
				top: 110%;
				transform: translate3d(-50%, -150%, 0);
				z-index: -1;
				transition: all .4s $default-transition;
			}

			&:hover {
				.loading-message {
					transform: translate3d(-50%, 0%, 0);
				}
			}
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&.inline {
		.wrapper {
			position: relative;
			margin-bottom: 2rem;
		}
	}

	&.show {
		display: block;
		opacity: 1;
	}
}

.z-index-sticky {
	z-index: 10;
	position: relative;
}

html {
	font-size: 14px;

	@include media-breakpoint-down(md) {
  	font-size: 13px;
	}
}

body {
	font-display: block;
	position: relative;
	background-color: $dark-purple;

	.wrapper {
		transition: all 750ms $default-transition;
	}

	&.main-menu-open {
		position: fixed;
		.wrapper {
			transform: translateX($main-menu-width);
		}

		.toggle-menu {
			&:before {
				z-index: 99 !important;
				background: rgba(27,31,35,0.65);
				display: block !important;
			}
		}

		.toggle-icon {
			z-index: 100;
			color: #fff;
		}

		#open-nav {
			color: #fff;
			transform-origin: 5px 50%;
			transform: rotateY(180deg);
		}
	}
}

#open-nav {
	color: currentColor;
	transition: all 2s $default-transition;
}

.main-search {
	&:focus {
		~ .jump-to-suggestions {
			display: block;
		}

		+ .jump-to-suggestions {
			display: block;
		}

		~ .jump-to-suggestions {
			display: block;
		}
	}
}

.jump-to-suggestions {
	display: none;
	background-color: $white;
	width: 100%;
	@include font-size($input-font-size);
	color: $input-color;
	background-clip: padding-box;
	border: $input-border-width solid $input-border-color;
	border-radius: 0 0 $input-border-radius $input-border-radius;
	@include box-shadow($input-box-shadow);
	@include transition($input-transition);
	text-decoration: none;
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.05);


	li {
		border-top: $input-border-width solid $input-border-color;

		&:first-child {
			border-top: none;
		}

		a {
			text-decoration: none;
		}
	}

	.input-value {
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}

#main-nav {	
	.nav-item{
		&.has-sub-nav {
			> .nav-link {
				.arrow {
					svg {
						transform: rotate(90deg);
					}
				}
			}

			.nav-link {
				&[aria-expanded="true"] {
					background-color: rgba(#fff, .2);
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;

					.arrow {
						svg {
							transform: rotate(180deg);
						}
					}
				}
			}

			ul {
				background-color: rgba(#fff, .1);
				@include border-radius($nav-pills-border-radius);
				@include border-top-radius(0);
			}
		}
	}
	.nav-link {
		transition: all 750ms $default-transition;
		color: #fff;

		.arrow {
			backface-visibility: hidden;

			svg {
				backface-visibility: hidden;
				transform: rotate(0deg);
				transform-origin: center center;
				opacity: .3;
				transition: all 750ms $default-transition;
			}
		}

		.icon {
			display: inherit;
			margin-right: 1rem; 
		}

		&.active {
			background-color: rgba(#fff, .1);

			.arrow {
				svg {
					opacity: 0;
				}
			}
		}

		&:hover {
			.arrow {
				svg {
					opacity: .75;
				}
			}
		}
	}
}

#aside {
	overflow: auto;
	width: $main-menu-width;
	position: fixed;
	z-index: 99;
	height: 100vh;

	.border-top {
		border-color: rgba(#000, .1) !important;
	}

	header {
		height: $nav-header;

		@include media-breakpoint-down(sm) {
	  		height: $nav-header-sm;
		}
	}

	@include media-breakpoint-down(sm) {
  		transform: translateX(-$main-menu-width);
	}

	.form-search {
		.jump-to-suggestions {
			top: 100%;
		}
	}

	.copyright {
		opacity: .5;
	}
}

#main {
	// overflow: hidden;
	background-color: $light;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.155486);

	@include media-breakpoint-up(md) {
		border-radius: 10px 0px 0px 10px;
  		margin-left: $main-menu-width;
	}

	.form-search {
		min-width: 250px;

		@include media-breakpoint-up(lg) {
			min-width: 400px;
		}
	}

	#top-nav {
		position: relative;

		.user-name {
			font-weight: 600;
		}

		.toggle-menu {

			&:after {
				position: absolute;
				top: -14px;
				right: 0;
				bottom: -14px;
				left: 0;
				z-index: 0;
				display: block;
				cursor: default;
				content: " ";
				display: block;
			}

			&:before {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				display: block;
				cursor: default;
				content: " ";
				transition: all 750ms $default-transition;
				display: none;

				@include media-breakpoint-up(md) {
					border-radius: 10px 0 0 0;
				}
			}
		}

		.form-control {
			background-color: #F5F5F5;

			&:focus, &:active {
				background-color: #fff;
			}
		}

		.position-fixed {
			left: 0;
			height: $nav-header;
			z-index: 99;
			right: 0;
			box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);

			@include media-breakpoint-up(md) {
				border-radius: 11px 0px 0px 0px;
		  		left: $main-menu-width;
			}

			@include media-breakpoint-down(sm) {
				padding-left: 18px;
				padding-right: 18px;
		  		height: $nav-header-sm;
			}
		}		

		.top-nav-branding {
			position: absolute;
	    	left: 50%;
	    	transform: translate(-50%, 0%);
		}
	}

	.inner-page {
		#top-fixed-bar {
			line-height: 1;
			box-shadow: inset 0 -1px #DCDCDC;

			.go-to-chapther {
				.btn {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			h3 {
				@include media-breakpoint-down(md) {
					font-size: 1.5rem;
				}
			}

			.btn {
				position: relative;
				height: $inner-header-elements-height;
				width: $inner-header-elements-height;

				@include media-breakpoint-down(md) {
					height: $inner-header-elements-height - 10px;
					width: $inner-header-elements-height - 10px;
				}

				svg {
					position: absolute;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    left: 0;
				    margin: auto;
				}
			}

			.form-control {
				height: $inner-header-elements-height;

				@include media-breakpoint-down(md) {
					height: $inner-header-elements-height - 10px;
				}
			}
		}
	}

	#content {
		min-height: 100vh;
		margin-top: $nav-header;

		@include media-breakpoint-down(sm) {
	  		margin-top: $nav-header-sm;
		}

		.content-listing {
			.item {
				&.vertical {
					.item-img {
						position: relative;
						height: 0;
						padding-bottom: 150%;

						img {
							position: absolute;
							left: auto;
							right: 0;
							width: 100%;
							height: 100%;
							object-fit: contain;
							object-position: bottom;
						}
					}
				}
			}
		}
	}
}

#chapter-content {

	&.fixed {
		position: fixed;
		z-index: 1;
		top: 0;
	}

	.additional-options {
		.btn {
			.title {
				line-height: 1.2;
			}
		}
	}

	#tabbed-content {
		background-color: #fff;
		box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}
}

.tab-content {
	border-radius: 0 0 10px 10px;
	background-color: white;
	padding: 2rem;
	font-size: 1.1429rem;
	color: #797979;
	scroll-behavior: smooth;

	.chapter-link {
		background-position: left bottom 0px;
		background-repeat: repeat-x;
		background-image: url("data:image/svg+xml,%3Csvg width='4' height='2' viewBox='0 0 5 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1h1' stroke='%23CFCFCF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

		.chapter-title {
			margin-right: 20px;
			display: inline;
			padding-bottom: 2px;
		}

		.btn {
			box-shadow: -10px 0 0 #fff;

			&:hover, &:focus {
				color: #fff;
				background-color: $primary !important;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 1.1429rem 1rem;
		font-size: 1rem;
	}

	.art_span {
		padding-right: 1.7143rem;
	    float: left;
	    font-size: 2.8571rem;
	    display: block;
	    line-height: 1.2;
	    padding-bottom: 1.7143rem;
	    font-weight: 300;

	    span {
	    	font-weight: 500;
	    	font-size: 1rem;
	    }
	}

	.chapter-comments {
		header {
			margin-top: 2rem;
			padding: 6px 0;
			border-bottom: 1px solid $primary;
			margin-bottom: 2rem;
		}
	}
}

.nav-tabs {
	position: relative;
	background-color: #E7E7E7; 
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	border: none;
	position: relative;
	overflow-x: overlay;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 5px 10px 0;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50px;
		z-index: 2;
		pointer-events: none;
		background: linear-gradient(to left,#E7E7E7 19% , rgba(#E7E7E7,0) 100%);
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity .3s 0s,visibility 0s 0s;
		transition: opacity .3s 0s,visibility 0s 0s;
	}

	.nav-link {
		position: relative;
		font-size: 14px;
		white-space: nowrap;
		border: none;
		color: $body-color;
		z-index: 2;
		padding-top: 20px;
		padding-bottom: 20px;
		flex: 1 1 auto;
		text-align: center;

		@include media-breakpoint-down(sm) {
			padding: 12px 16px;
		}

		&.active {
			color: $primary;
			box-shadow: 0 2px 0 #fff;

			&:before {
				display: none;
			}

			& + .nav-link {
				&:before {
					display: none;
				}
			}
		}

		&:before {
			z-index: 1;
			box-shadow: inset -1px 0 #D2D2D2;
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 0;
			width: 1px;
		}

		&:last-child {
			// margin-right: 50px;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}